<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>VIIALANSANOMAT</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <nav>
            <a th:href="@{/frontpage}">Back to frontpage</a>
        </nav>
        
        <form action="#" th:action="@{/addArticle}" th:object="${postObject}" method="POST">
            <table>
                <tr>
                    <td>Headline: </td>
                    <td><input th:type="text" th:field="*{headline}" /></td>
                    <td th:if="${#fields.hasErrors('headline')}" th:errors="*{headline}">headline error</td>
                </tr>
                <tr>
                    <td>Lead: </td>
                    <td><input th:type="text" th:field="*{lead}" /></td>
                    <td th:if="${#fields.hasErrors('lead')}" th:errors="*{lead}">lead error</td>
                </tr>
                <tr>
                    <td>Text: </td>
                    <td><input th:type="text" th:field="*{text}" /></td>
                    <td th:if="${#fields.hasErrors('text')}" th:errors="*{text}">text error</td>
                </tr>
                <tr>
                    <td><button th:type="submit">Submit</button></td>
                </tr>
                
            </table>
        </form>
        
    </body>
</html>
