<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>VIIALANSANOMAT</title>

        <meta charset="UTF-8"/>
    </head>
    <body>
        <nav>
            <a th:href="@{/frontpage}">to Frontpage</a>
        </nav>
        <h1>Create new article</h1>
        
        <form th:action="@{/article/new}" method="POST" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>Headline: </td>
                    <td><textarea cols="75" rows="1" name="headline"></textarea></td>
                </tr>
                <tr>
                    <td>Lead: </td>
                    <td><textarea cols="75" rows="5" name="lead"></textarea></td>
                </tr>
                <tr>
                    <td>Text: </td>
                    <td><textarea cols="75" rows="30" name="text"></textarea></td>
                </tr>
                <tr>
                    <td>Category: </td>
                    <td>
                        <select name="categoryId">
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                                category
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Writer: </td>
                    <td><input th:type="text" name="writer" /></td>
                </tr>
                <tr>
                    <td>Image: </td>
                    <td><input th:type="file" name="file" /></td>
                </tr>
            </table>
            
            <button th:type="submit">publish</button>
        </form>
        
    </body>
</html>
