<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>VIIALANSANOMAT</title>

        <meta charset="UTF-8"/>
    </head>
    <body>
        <nav>
            <a th:href="@{/frontpage}">to Frontpage</a>
        </nav>
        <h1>Create new article</h1>
        
        <form th:action="@{/article/edit/{id}(id=${article.id})}" method="POST" enctype="multipart/form-data" class="form-group">
            <table class="table">
                <tr>
                    <td>Headline: </td>
                    <td><input th:type="text" name="headline" th:value="${article.headline}" class="form-control"/></td>
                </tr>
                <tr>
                    <td>Lead: </td>
                    <td><input th:type="text" name="lead" th:value="${article.lead}" class="form-control"/></td>
                </tr>
                <tr>
                    <td>Text: </td>
                    <td><input th:type="text" name="text" th:value="${article.text}" class="form-control"/></td>
                </tr>
                <tr>
                    <td>Current category: </td>
                    <td><p th:text="${article.category.name}">current categroy</p></td>
                </tr>
                <tr>
                    <td>Category: </td>
                    <td>
                        <select name="categoryId">
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                                category
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Writer: </td>
                    <td><input th:type="text" name="writer" th:value="${article.writer}"class="form-control"/></td>
                </tr>
                <tr>
                    <td>Image: </td>
                    <td><img th:src="@{/images/{id}(id=${article.fileObject.id})}" height="300" width="300" alt="image"/></td>
                    <td><input th:type="file" name="file" class="form-control"/></td>
                </tr>
                
            </table>
            
            <button th:type="submit">Edit</button>
        </form>
        
        <form th:action="@{/article/delete/{id}(id=${article.id})}" th:method="DELETE">
            <button th:type="submit">DELETE</button>
        </form>
        
    </body>
</html>
